
.barry{
	background-color: #d32f2f;
	font-family: "Montserrat",sans-serif;
}

.inny{
	background-color: #d32f2f;
	font-family: "Montserrat",sans-serif;
}

.intro{
	color: white;
}

.words{
	*background-color: #F2D7D7;
	font-family: "Montserrat",sans-serif;
}

.prof{
	border-radius: 50%;
	margin: 0 auto;
}